
$shiki-badge-transition-time: 0.15s;

.shiki {
  position:relative;
  padding: 10px;
  border-color: #e4e4e7;
  tab-size: 5.3;

  .code-badge {
    font-size: 12px;
    position: absolute;
    right: .5rem;
    top: 0.25rem;
  }

  .language-badge {
    opacity:.5;
    transition:opacity $shiki-badge-transition-time ease;
    z-index:1
  }

  .copy-button {
    width: 1.5rem;
    height: 1.5rem;

    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    opacity: 0;
    padding: 0;

    transition: opacity $shiki-badge-transition-time ease,
      color $shiki-badge-transition-time ease,
      background-color $shiki-badge-transition-time ease;

    word-break: normal;
    z-index: 2;

    &:hover {
      background-color:hsla(0,0%,50%,.2);
    }
  }

  &.has-line-numbers {
    counter-reset: code-counter;

    .line {
      counter-increment: code-counter;

      &::before {
        color: currentcolor;
        content: counter(code-counter);
        display: inline-block;
        margin-right: .75rem;
        min-width: 1rem;
        opacity: .5;
        text-align: right;
      }
    }
  }

  // Hide the language badge on hover
  > .copy-button:focus-visible ~ ,
  > .copy-button:hover ~ ,
  &:hover  {
    .language-badge {
      opacity: 0;
    }
    .copy-button {
      opacity: 1;
    }
  }
}
